<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>New book</title>
</head>
<body>

<h2>New person</h2>

<form th:action="@{/people}" th:method="POST" th:object="${person}">
    <label for="name">Enter name: </label>
    <input type="text" id="name" th:field="*{name}">
    <br>
    <div style="color:red" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name Error</div>
    <label for="birth">Enter year of birth: </label>
    <input type="text" id="birth" th:field="*{yearOfBirth}">
    <br>
    <div style="color:red" th:if="${#fields.hasErrors('dateOfBirth')}" th:errors="*{yearOfBirth}">Date of birth Error</div>
    <input type="submit" value="Add new person">
</form>

</body>
</html>