<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit book</title>
</head>
<body>

<form th:action="${'/books/' + book.getBookId()}" th:method="PATCH" th:object="${book}">
    <label for="name">Enter new name: </label>
    <input type="text" id="name" th:field="*{name}">
    <br>
    <div style="color:red" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name Error</div>
    <label for="author">Enter new author: </label>
    <input type="text" id="author" th:field="*{author}">
    <br>
    <div style="color:red" th:if="${#fields.hasErrors('author')}" th:errors="*{author}">Author Error</div>
    <label for="yearOfPublication">Enter new year of publication: </label>
    <input type="text" id="yearOfPublication" th:field="*{yearOfPublication}">
    <br>
    <div style="color:red" th:if="${#fields.hasErrors('yearOfPublication')}" th:errors="*{yearOfPublication}">Year of publication Error</div>
    <input type="submit" value="Edit book">
</form>

</body>
</html>